
#requestQuote {
    float: right;
    
}

#carouselText {
    color: black;
}
.phoneNumber {
    text-align:  right;
    
}

.container {
    position: relative;
    text-align: center;
    color: white;
}



.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

