<div class="alert alert-light" role="alert" >

    <!--Logo row to the right of the site-->
    <div class="row">
        <div class="col-md- "><a class="navbar-brand" href="/index.html" >
            <img src="images/Logo/NewLogo.png" alt='julio garcia insurance logo' class="d-flex justify-content-center" width="100%" id='indexlogo'></a></div>
    
    <!--Req Qt Button to the left and with go beneath logo when in responsive mode-->
    

        <p class="phoneNumber col-sm" >Houston: <i class="fas fa-phone-alt"><a href="tel:8326455100" class="text-dark"> (832) 645-5100</a> </i></p>
    
        <p class="phoneNumber  col-sm" >Lake Jackson: <i class="fas fa-phone-alt "> <a href="tel:9792825500" class="text-dark">(979) 282-5500</a> </i></p>
        <p class="phoneNumber  col-sm" >Rio Grande Valley: <i class="fas fa-phone-alt"><a href="tel:9565194663" class="text-dark"> (956) 519-4663</a> </i></p> 
        <p class="phoneNumber  col-sm" >Austin: <i class="fas fa-phone-alt"><a href="tel:5125780060" class="text-dark"> (512) 578-0060</a> </i></p>
        <p class="phoneFax  col-sm" >Fax: &nbsp; &nbsp; &nbsp;<i class="fas fa-fax"> &nbsp;(979) 393-0038</i></p>  
        <p class="email col-sm">Email: <i class="fas fa-envelope-open-text"></i> <a href="mailto:docs@jgiatx.com" class='email'>docs@jgiatx.com</a></p> 
        


        <div class="spanish seHabla  ">                
            <p class='col-sm' ><h3>Se Habla Español</h3></p>
        </div>
        
        <div class="col-lg-1"><button type="button" class="btn btn-info contactUs" id='contactUs' data-toggle="modal" data-target=".bd-example-modal-lg">
            Contact Us!
        </button>
        </div> 
        
    </div>
</div>