<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class='footer'>
    <nav class="navbar bottom navbar-light bg-light size-small d-flex justify-content-center" >
        <div class="f1">
            <br>
            <h6>Quick Links</h6>
            <li><a href="AutoQT_Req.html">Auto Quote Request</a></li>
            <li><a href="HomeQT_Req.html">Home Quote Request</a></li>
            <li><a href="LifeQT_Req.html">Life Insurance Quote Request</a></li>
            <li><a href="CommercialQT_Req.html">Commercial Insurance Request</a></li>
        </div>
        <div class="f2">
            <br>
            <p><a href="Contact.html">Our Staff</a></p>
            <p><a href="PrivacyPolicy.html">Privacy Policy</a></p>
        </div>
        <br>

    <div class="f3">
        <p>Translate this page:</p>
            <div id="google_translate_element"></div>
    </div>

    <div class="text-center">
        <p class=""></p><i class="far fa-copyright " id="f4"> Julio Garcia Insurance  </i> </p>
        <p class="" id="f4"> All content on this website is owned by Julio Garcia and our licensors. Do not use without our consent.</p>
        <p class="" id="f4">Website created by <a href="https://thewebdevstudio.com/">The Web Dev Studio</a>. All rights reserved.</p>
    </div>
        <br>
    </nav>
</footer>



<script type="text/javascript"> 
    function googleTranslateElementInit() { 
        new google.translate.TranslateElement(
            {pageLanguage: 'en'}, 
            'google_translate_element'
        ); 
    } 
</script> 
</body>
</html>




    

