<!--alert-->
<div class="alert alert-light" role="alert" >

    <!--Logo row to the right of the site-->
    <div class="row">
        <div class="col-md- "><a class="navbar-brand" href="/index.html" >
            <img src="images/Logo/NewLogo.png" alt='julio garcia insurance logo' class="d-flex justify-content-center" width="100%" id='indexlogo'></a></div>
    
    <!--Req Qt Button to the left and with go beneath logo when in responsive mode-->
    

        <p class="phoneNumber col-sm" >Houston: <i class="fas fa-phone-alt"><a href="tel:8326455100" class="text-dark"> (832) 645-5100</a> </i></p>
    
        <p class="phoneNumber  col-sm" >Lake Jackson: <i class="fas fa-phone-alt "> <a href="tel:9792825500" class="text-dark">(979) 282-5500</a> </i></p>
        <p class="phoneNumber  col-sm" >Rio Grande Valley: <i class="fas fa-phone-alt"><a href="tel:9565194663" class="text-dark"> (956) 519-4663</a> </i></p> 
        <p class="phoneNumber  col-sm" >Austin: <i class="fas fa-phone-alt"><a href="tel:5125780060" class="text-dark"> (512) 578-0060</a> </i></p>
        <p class="phoneFax  col-sm" >Fax: &nbsp; &nbsp; &nbsp;<i class="fas fa-fax"> &nbsp;(979) 393-0038</i></p>  
        <p class="email col-sm">Email: <i class="fas fa-envelope-open-text"></i> <a href="mailto:docs@jgiatx.com" class='email'>docs@jgiatx.com</a></p> 
        


        <div class="spanish seHabla  ">                
            <p class='col-sm' ><h3>Se Habla Español</h3></p>
        </div>
        
        <div class="col-lg-1"><button type="button" class="btn btn-info contactUs" id='contactUs' data-toggle="modal" data-target=".bd-example-modal-lg">
            Contact Us!
        </button>
        </div> 
        
    </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id='navBar'>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Personal Insurance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="AutoInsurance.html">Auto Insurance</a>
            <a class="dropdown-item" href="HomeInsurance.html">Home Insurance</a>
            <a class="dropdown-item" href="Renters.html">Renters Insurance</a>
            <a class="dropdown-item" href="Condo.html">Condo Insurance</a>
            <a class="dropdown-item" href="LifeInsurance.html">Life Insurance</a>
            
            </di>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CommercialInsurance.html">Commercial Insurance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="PetInsurance.html">Pet Insurance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompaniesWeRepresent.html">Companies We Represent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="AboutUs.html">About Us</a>
        </li>
        </ul>
    </div>
</nav>